name: test-ukl-master-pull-request

on:
  pull_request:
    branches: [ master ]

jobs:
  linter_job:
    name: Happy linting
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v2

      - id: install kubectl
        run: |
          curl -LO https://storage.googleapis.com/kubernetes-release/release/`curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt`/bin/linux/amd64/kubectl

      - id: get-credentials
        uses: google-github-actions/get-gke-credentials@main
        with:
          cluster_name: gke-ukl
          location: europe-west4-a
          credentials: ${{ secrets.GKE_CREDENTIALS_SA_TERRAFORM }}

      - id: install kubectl
        run: |
          kubectl get no

      - name: lint tf
        uses:  actionshub/terraform-lint@master
        continue-on-error: false


